<div class="content-window" (click)="close()" [@fadeState]="contentWindowService.fadeState" 
    [style.display]="contentWindowService.display" (@fadeState.done)="contentWindowService.onAnimationDone($event)" 
    (@fadeState.start)="contentWindowService.onAnimationStart($event)">
  <div class="window-background">
    <div class="window">
      <div class="title-bar" (click)="stopPropagation($event)">
        <div class="content-title">
          <!-- {{contentWindow.title | uppercase}} -->
          <span class="close-button" (click)="close()"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="content-container" (click)="stopPropagation($event)">
        <!-- <div class="loading" ng-show="contentWindow.load">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>-->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>