<div id="social-media">
  <div class="section-content">
    <ul>
      <!--Facebook-->
      <li title="Facebook">
        <a target="_blank" href="https://www.facebook.com/SomethingWickedRocksband/">
          <div class="social-media-circle">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </div>
        </a>
      </li>
      <!--Twitter-->
      <li title="Twitter">
        <a target="_blank" href="https://www.twitter.com/smthing_wicked">
          <div class="social-media-circle">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </div>
        </a>
      </li>
      <!--YouTube-->
      <li title="YouTube">
        <a target="_blank" href="https://www.youtube.com/channel/UCOwoh6rDLkrR7ZJ7WQma3CQ">
          <div class="social-media-circle">
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </div>
        </a>
      </li>
      <!--Instagram-->
      <li title="Instagram">
        <a target="_blank" href="https://www.instagram.com/somethingwickedrocks">
          <div class="social-media-circle">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </div>
        </a>
      </li>
      <!--Back to top-->
      <li (click)="scrollTo('top')" title="Back to top" class="back-to-top">
        <div class="social-media-circle">
          <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </div>
      </li>
    </ul>
  </div>
</div>