@import 'utility';

.loading{
    background: black; 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    z-index: 500;
    align-items: center; 
    justify-content: center;
}
.fa-spinner{
    color: $color5;
}