<navigation></navigation>
<showcase-images></showcase-images>
<div id="tour" class="section">
    <tour></tour>
</div>
<div class="section">
    <music></music>
</div>
<div id="media">
    <div id="video-groups" class="section">
        <video-groups></video-groups>
    </div>
    <div id="photo-groups" class="section">
        <photo-groups></photo-groups>
    </div>
    <div id="members" class="section">
        <members></members>
    </div>
    <div class="section">
        <social-media></social-media>
    </div>
</div>
<content-window></content-window>