<div id="music">
  <div class="section-content">
    <div class="section-title">MUSIC</div>
    <table cellspacing="0">
      <tr>
        <th (click)="sort('name')">SONG
          <div [class]="getSortClass('name')"></div>
        </th>
        <th (click)="sort('artist')">ARTIST
          <div [class]="getSortClass('artist')"></div>
        </th>
        <th (click)="sort('genre')">GENRE
          <div [class]="getSortClass('genre')"></div>
        </th>
        <th (click)="sort('videoID')">VIDEO
          <div [class]="getSortClass('videoID')"></div>
        </th>
      </tr>
      <tr *ngFor="let song of songs">
        <td>{{song.name | uppercase}}</td>
        <td>{{song.artist | uppercase}}</td>
        <td>{{song.genre | uppercase}}</td>
        <td>
          <span *ngIf="song.videoGroup != null" (click)="showVideo(song.videoGroup, song.videoID)">
            <i style="color: #ea3516; font-size:30px" class="fa fa-youtube-play" aria-hidden="true"></i>
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>